.navbar-nav .nav-link {
  font-weight: bold;
  font-size: 18px;
  color: white !important;
}

.navbar-nav .nav-link:hover {
  color: #f1c40f !important;
}
.navbar .container-fluid {
  padding-left: 0;
  padding-right: 0;
}
